@import url("https://use.typekit.net/jmk3xov.css");
@import url("fontawesome-free/css/fontawesome-all.min.css");
@import url("framework.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  --dark-purple: #170028;
  --peach: #e96444;
  --rose-pink: #a4124c;
  --purple: #3424ac;

  --dark-green: #014e33;
  --forest-green: #3a8107;
  --mint-green: #33b885;
  --brown: #2e1c0b;

  --navy: #00101f;
  --pale-blue: #6eaeeb;
  --aqua: #65fddd;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* //////////////////////////////////////
/* /////// Sections and headers ////////
/* ///////////////////////////////////*/

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 1.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.codeskills-section {
  background: var(--dark-bg);
}

#return-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#return-to-top:hover {
  background-color: #333;
}

/* End sections and headers */

/* //////////////////////////////////////
/* ////// Various text formatting //////
/* ///////////////////////////////////*/
#contact-info {
  font-size: 1.5rem;
}

#typing-effect-text {
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  color: white;
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
}
/* End various text formatting*/

/* default button */
.button {
  color: aquamarine;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: bolder;
  font-style: normal;
  line-height: 45px;
  margin: 0 0 0;
  max-width: 180px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.work-title-div {
  color: white;
  font-size: 125%;
  font-weight: 100;
  text-align: left;
  width: 50%;
  margin-left: 0;
  margin-right: auto;
  float: left;
}
.work-date-div {
  color: white;
  font-size: 125%;
  font-weight: 100;
  text-align: right;
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  float: right;
}
.company-name {
  font-size: 95%;
  color: white;
  margin-left: 0;
  margin-right: auto;
  float: left;
  text-indent: 50px;
}

.work-description {
  font-size: 85%;
  color: white;
  margin-left: 0;
  margin-right: auto;
  float: left;
  text-indent: 50px;
}

/* //////////////////////////////////
/* ///////// Resume button /////////
/* ///////////////////////////////*/
.resume-button {
  background: #091555;
  font-weight: bolder;
  text-align: center;
}
.resume-button svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.resume-button rect {
  fill: none;
  stroke: #091555;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}
.resume-button:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.resume-button:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
/* end resume button*/

/* /////////////////////////////////
/* ////////// icon links //////////
/* /////////////////////////////*/

.icon-container {
  justify-content: center;
  display: flex;
}

.icon {
  padding: 0 8px;
  font-size: 2rem;
}

.fa-github-square {
  color: #4db6ac;
}
.fa-github-square:hover {
  color: white;
  cursor: pointer;
}
.fa-envelope {
  color: #4db6ac;
}
.fa-envelope:hover {
  color: white;
  cursor: pointer;
}
.fa-linkedin {
  color: #4db6ac;
}
.fa-linkedin:hover {
  color: white;
  cursor: pointer;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
/*End icon links*/

/* /////////////////////////////////
/* // Project container displays ///
/* ///////////////////////////////// */

.project-container {
}
.project-container figure {
  display: block;
  max-width: 348px;
  padding-bottom: 50px;
  /* same width as the image - contains the caption */
}

.project-container figure img {
  max-width: 100%;
  height: auto;
}

.project-container figure figcaption {
  display: block;
  position: relative;
}

.project-container figure figcaption a {
  display: block;
  position: relative;
  padding: 15px;
  border: solid;
  border-width: 0 1px 1px 1px;
  color: white;
  font-weight: 400;
  font-family: elevon, sans-serif;
  text-decoration: none;
}

.project-container figure figcaption a {
  color: inherit;
  background-color: inherit;
  border-color: #d7d7d7;
}
.project-container figure:hover figcaption a {
  color: #ffffff;
  background-color: #303f9f;
  border-color: #303f9f;
}

/* /////////////////////////////////////
/* // End Project container displays ///
/* ///////////////////////////////// */

/* /////////////////////////////////
/* ////////// Donut Chart //////////
/* ///////////////////////////////*/
#donut {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* End Donut chart */

/*////////////////////////////////////////////
//// Responsiveness for different screens ////
////////////////////////////////////////////*/

/* Max screen size of 800px encapsulates tablets */
@media screen and (max-width: 800px) {
  header {
    font-size: 1rem;
  }
  .icon-container {
    font-size: 1.5rem;
  }
  blockquote p {
    font-size: 1.5rem;
  }
  .exp,
  h2 {
    font-size: 1rem;
  }
  .heading {
    font-size: 1rem;
  }
  .project-container figure figcaption a {
    font-size: 0.7rem;
  }
}

/* Max screen size of 1200px encapsulates most laptops */
@media screen and (min-width: 801px) and (max-width: 1200px) {
  header {
    font-size: 1.5rem;
  }
  .icon-container {
    font-size: 1.5rem;
  }
  blockquote p {
    font-size: 1.5rem;
  }
  .exp {
    font-size: 1rem;
  }
  .heading {
    font-size: 1.25rem;
  }
}

/* Ipad Pro 12.9 */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    font-size: 1.5rem;
  }
  .icon-container {
    font-size: 1.5rem;
  }
  blockquote p {
    font-size: 1.5rem;
  }
  .exp {
    font-size: 1rem;
  }
  .heading {
    font-size: 1.25rem;
  }
}
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    font-size: 1.5rem;
  }
  .icon-container {
    font-size: 1.5rem;
  }
  blockquote p {
    font-size: 1.5rem;
  }
  .exp {
    font-size: 1rem;
  }
  .heading {
    font-size: 1.25rem;
  }
}

/* Nexus 9 */
/* Portrait and Landscape */
@media screen and (device-width: 1536px) and (device-height: 2048px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) {
  header {
    font-size: 1.5rem;
  }
  .icon-container {
    font-size: 1.5rem;
  }
  blockquote p {
    font-size: 1.5rem;
  }
  .exp {
    font-size: 1rem;
  }
  .heading {
    font-size: 1.25rem;
  }
}
/* Portrait */
@media screen and (device-width: 1536px) and (device-height: 2048px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: portrait) {
  header {
    font-size: 1.5rem;
  }
  .icon-container {
    font-size: 1.5rem;
  }
  blockquote p {
    font-size: 1.5rem;
  }
  .exp {
    font-size: 1rem;
  }
  .heading {
    font-size: 1.25rem;
  }
}
/* Landscape */
@media screen and (device-width: 1536px) and (device-height: 2048px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: landscape) {
  header {
    font-size: 1.5rem;
  }
  .icon-container {
    font-size: 1.5rem;
  }
  blockquote p {
    font-size: 1.5rem;
  }
  .exp {
    font-size: 1rem;
  }
  .heading {
    font-size: 1.25rem;
  }
}
